html,
body,
#app {
  height: 100vh;
  width: 100%;
  margin: 0;
}

.bp3-dark {
  background-color: #00152c;
}

.mosaic.mosaic-blueprint-theme.bp3-dark .mosaic-window .mosaic-window-body, .mosaic.mosaic-blueprint-theme.bp3-dark .mosaic-preview .mosaic-window-body {
  background: #00152c !important;
}

.nav {
  justify-content: space-between;
}

.nav-div-1{
  display: flex
}

.nav-div-2{
  display: flex;
  margin-top: 5px
}

.nav-div-2 img{
  margin: 3px;
  height: 20px;
}

.nav-div-2 .nav-link  {
  padding: 0;
}
